input {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-text);
    padding: 5px;
    width: 100%;
}

.btn-send {
    width: 80%;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer; 
    border: 0;
    padding: 5px; 
    text-transform: uppercase;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.alert-success {
    width: 100%;
    padding: 10px;
    background-color: rgb(21, 180, 21);
    color: white;
}

.aux-btns-form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.aux-btns-form a {
    padding-right: 10px;
    text-decoration: none;
}